{% load static %}
<html lang="ru">
<head>
    <title>Лучший кликер на планете</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
    <header>
        <nav class="nav">
            <h1>Привет, {{ user.username }}</h1>
            <button class="logout"><a class="logout" href="{% url 'logout' %}">Выйти</a></button>
        </nav>
    </header>

    <main class="app">
        <div class="main_window">
            <h1>Игра</h1>
            <input type="image" src="/static/images/cat2.png" width="300" height="220" onclick="call_click()" id="click">
            <div class="info">
                <p>Уровень гниды: <span id="level_enemy"> {{ core.level_enemy }}</span></p>
                <p>
                <img src="/static/images/icon.png" width="30" height="30">
                НР гниды: <span id="damage">{{ core.damage }}</span>/<span id="hp">{{ core.hp }}</span>
                </p>
                <p>
                <img src="/static/images/dmg.png" width="30" height="30">
                Сила удара: <span id="click_power">{{ core.click_power }}</span>
                </p>
                <p>
                <img src="/static/images/mining.png" width="30" height="30">
                Шахтеры. Чел: <span id="auto_click_power">{{ core.auto_click_power }}</span>
                </p>
            </div>
        </div>
        <div class="coins">
            <h1>Персонаж</h1>
            <p>
                <img src="/static/images/money.png" width="30" height="30">
                Монетки: <span id="coins">{{core.coins}}</span>
            </p>
            <p>
                Уровень: <span id="level">{{ core.level }}</span>
            </p>
        </div>
        <div class="boosts" id="boosts">
            <h1>Бусты</h1>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>